<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <base href="/">

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>


    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="andresshop" layout="column" ng-controller="ProductController as productCtrl" ng-cloak>

    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="menu" hide-gt-sm ng-click="productCtrl.toggleList()" aria-label="Show User List">
          <md-icon md-svg-icon="filter" ></md-icon>
        </md-button>
        <h2>
          <span>Andres Shop</span>
        </h2>
        <span flex></span>
        <md-menu md-position-mode="target-right target">
             <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="productCtrl.openMenu($mdOpenMenu, $event)">
               <md-icon md-menu-origin md-svg-icon="cart"></md-icon>
             </md-button>
             <md-menu-content width="4">
                <md-list-item class="md-3-line" ng-repeat="item in productCtrl.cartItems track by $index ">
                 <img ng-src="{{item.img}}" class="md-avatar" alt="{{item.name}}" />
                 <div class="md-list-item-text" layout="column">
                   <h4>{{item.name}} - cant: {{item.cant}}</h4>

                 </div>
               </md-list-item>

               <md-menu-divider></md-menu-divider>
               <md-menu-item>
                 <a href="#/cart">
                   <md-button >
                    <md-icon md-svg-icon="cart"></md-icon>
                    View Cart
                  </md-button>
                 </a>
               </md-menu-item>
             </md-menu-content>
           </md-menu>
      </div>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav layout-padding ng-click="$mdMedia('gt-md') && productCtrl.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >

            <h3 class="md-title">Filters</h3>
            <div class="categories-search">
              <md-autocomplete flex md-sidenav-focus class="accent"
                  md-input-name="autocompleteField"
                  md-no-cache="productCtrl.noCache"
                  md-selected-item="productCtrl.selectedItem"
                  md-search-text="productCtrl.searchText"
                  md-items="item in productCtrl.querySearch(productCtrl.searchText)"
                  md-item-text="item.display"
                  md-floating-label="Category">
                <md-item-template>
                  <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                </md-item-template>
              </md-autocomplete>
            </div>
            

            <h4>Filter by tags</h4>
            <md-radio-group ng-model="productCtrl.search">

              <md-radio-button value='' > none</md-radio-button>
              <md-radio-button value='{"available": true}' > Available</md-radio-button>
              <md-radio-button value='{"available": false}' > Sold out </md-radio-button>
              <md-radio-button value='{"best_seller": true}' > Best Seller</md-radio-button>

            </md-radio-group>

            <h4>Order by</h4>
            <md-radio-group ng-model="productCtrl.orderBy">
              <md-radio-button value="" > none</md-radio-button>
              <md-radio-button value="name" > Name: A - Z </md-radio-button>
              <md-radio-button value="-name" >Name: Z - A</md-radio-button>
              <md-radio-button value="price"> Lower price </md-radio-button>
              <md-radio-button value="-price">Higher price</md-radio-button>

            </md-radio-group>

          
        </md-sidenav>

        <md-content flex id="content" md-swipe-right="onSwipeRight()" ng-view>


        </md-content>

    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-route/angular-route.js"></script>
    <script src="../node_modules/angular-resource/angular-resource.js"></script>
    <script src="../node_modules/lodash/index.js"></script>
    <script src="../node_modules/angular-lodash/angular-lodash.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>

    <script src="./main.js"></script>


  </body>
</html>
