<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="andresshop" layout="column" ng-controller="ProductController as productCtrl" ng-cloak>

    <md-toolbar layout="row"> 
      <md-button class="menu" hide-gt-sm ng-click="productCtrl.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Andres Shop</h1>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav layout-padding ng-click="productCtrl.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >

            <h3 class="md-title">Filters</h3>
            <div class="categories-search">
              <md-autocomplete flex class="md-accent"
                  md-input-name="autocompleteField"
                  md-no-cache="productCtrl.noCache"
                  md-selected-item="productCtrl.selectedItem"
                  md-search-text="productCtrl.searchText"
                  md-items="item in productCtrl.querySearch(productCtrl.searchText)"
                  md-item-text="item.display"
                  md-floating-label="Category">
                <md-item-template>
                  <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                </md-item-template>
              </md-autocomplete>
            </div>
            

            <h4>Filter by tags</h4>
            <md-radio-group ng-model="productCtrl.search">

              <md-radio-button value='' > none</md-radio-button>
              <md-radio-button value='{"available": true}' > Available</md-radio-button>
              <md-radio-button value='{"available": false}' > Sold out </md-radio-button>
              <md-radio-button value='{"best_seller": true}' > Best Seller</md-radio-button>

            </md-radio-group>

            <h4>Order by</h4>
            <md-radio-group ng-model="productCtrl.orderBy">
              <md-radio-button value="" > none</md-radio-button>
              <md-radio-button value="name" > Name: A - Z </md-radio-button>
              <md-radio-button value="-name" >Name: Z - A</md-radio-button>
              <md-radio-button value="price"> Lower price </md-radio-button>
              <md-radio-button value="-price">Higher price</md-radio-button>

            </md-radio-group>

          
        </md-sidenav>

        <md-content flex id="content" md-swipe-right="onSwipeRight()">

          <md-list class="product-list">
            <md-list-item class="custom-md-list" ng-repeat="prod in productCtrl.products | filter: productCtrl.search | orderBy: productCtrl.orderBy">
              <div class="item">
                <h3 class="md-title">{{prod.name}}</h3>
                <img class="item-image" ng-src="{{prod.img}}">
                <div class="item-info">
                  <div class="mini-header"> 
                    <span>Price: {{prod.price | currency}}</span> 
                    <span class="tag-prod soldout" ng-hide="prod.available">SOLD OUT</span>
                    <span class="tag-prod available" ng-show="prod.available">Available</span>
                    <span class="tag-prod bestseller" ng-show="prod.best_seller">Best Seller</span>
                  </div>
                  <p> <span ng-show="prod.categories.length > 1">Categories</span><span ng-show="prod.categories.length == 1">Category</span>: <span ng-repeat="cat in prod.categories">{{cat}}<span ng-hide="$last">,</span> </span> </p>
                  <p>{{prod.description}}</p>
                </div> 
              </div>
              
            </md-list-item>
          </md-list>
           <!--<md-icon md-svg-icon="{{productCtrl.selected.avatar}}" class="avatar"></md-icon>
          <h2>{{productCtrl.selected.name}}</h2>
          <p>{{productCtrl.selected.content}}</p>

          <md-button class="share" md-no-ink ng-click="productCtrl.makeContact(productCtrl.selected)" aria-label="Share with {{ productCtrl.selected.name }}">
            <md-icon md-svg-icon="share"></md-icon>
          </md-button> -->
        </md-content>

    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-resource/angular-resource.js"></script>
    <script src="../node_modules/lodash/index.js"></script>
    <script src="../node_modules/angular-lodash/angular-lodash.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>

    <script src="./main.js"></script>


  </body>
</html>
